<h1>Add a new Image to gallery</h1>

{{ include('admin/image/_form.html.twig') }}

{% for image in imagelist %}
    <img src="{{ asset ('uploads') }}/images/{{ image.image }} " height="300">

    <a href="{{ path('admin_image_delete',{'id': image.id,'pid': image.productid}) }}" onClick="return confirm('Silmek için emin misin ?')" class="btn btn-danger">Sil</a>

{% endfor %}


