<form method="post" action="{{ path('shopcart_delete', {'id': shopcart.id}) }}" onsubmit="return confirm('Ürün Sepetten Çıkartılacakatır.');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ shopcart.id) }}">
    <button class="btn btn-danger btn-block" ><i class="glyphicon glyphicon-remove"></i> Sil </button>
</form>
