{% extends 'admin/base.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block content %}
    <h1>Kategori Düzenleme</h1>

    {{ include('admin/category/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_category_index') }}">Geri</a>

    {{ include('admin/category/_delete_form.html.twig') }}
{% endblock %}
